MyoEvent
[{"id":"f9a8d38.f06573","type":"http in","z":"74f7ebf4.8b0814","name":"Myo In","url":"/myo","method":"get","swaggerDoc":"","x":90.66668701171875,"y":100.11111450195312,"wires":[["467f368e.b980c8"]]},{"id":"f05af112.0fa51","type":"debug","z":"74f7ebf4.8b0814","name":"","active":false,"console":"false","complete":"payload","x":877.1111145019531,"y":394.55555725097656,"wires":[]},{"id":"e6f6500b.1909b","type":"http response","z":"74f7ebf4.8b0814","name":"Myo Response","x":646.111083984375,"y":100.55555725097656,"wires":[]},{"id":"c3d38c80.3c2c7","type":"template","z":"74f7ebf4.8b0814","name":"Got it!","field":"payload","fieldType":"msg","format":"json","template":"{ \"input\" : \"received\" }","x":434.1111145019531,"y":58.55555725097656,"wires":[["e6f6500b.1909b"]]},{"id":"1634cda7.e9cb32","type":"ibmiot out","z":"74f7ebf4.8b0814","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb1536b3","deviceType":"RaspberryPi","eventCommandType":"gpio","format":"json","data":"{ \"color\" : \"green\" }","name":"Set R-Pi Color by Int","service":"registered","x":983.3610992431641,"y":274.80554580688477,"wires":[]},{"id":"f83898c0.07c768","type":"switch","z":"74f7ebf4.8b0814","name":"Read Myo Gesture","property":"payload.gesture","propertyType":"msg","rules":[{"t":"eq","v":"wave_in","vt":"str"},{"t":"eq","v":"wave_out","vt":"str"},{"t":"eq","v":"fist","vt":"str"}],"checkall":"true","outputs":3,"x":459.1111145019531,"y":284.55555725097656,"wires":[["b3b7339d.4c48d"],["3cc36fbd.c33c9"],["fe2b1ac2.01d4e8"]]},{"id":"fe2b1ac2.01d4e8","type":"template","z":"74f7ebf4.8b0814","name":"Red","field":"payload","fieldType":"msg","format":"json","template":"{ \"color\" : \"red\" }","x":644.1111145019531,"y":348.55555725097656,"wires":[["f05af112.0fa51","df63584f.209ca8"]]},{"id":"3cc36fbd.c33c9","type":"template","z":"74f7ebf4.8b0814","name":"Yellow","field":"payload","fieldType":"msg","format":"json","template":"{ \"color\" : \"yellow\" }","x":649.1111145019531,"y":288.55555725097656,"wires":[["df63584f.209ca8"]]},{"id":"b3b7339d.4c48d","type":"template","z":"74f7ebf4.8b0814","name":"Green","field":"payload","fieldType":"msg","format":"json","template":"{ \"color\" : \"green\" }","x":656.1111145019531,"y":230.55555725097656,"wires":[["df63584f.209ca8"]]},{"id":"1afec842.e50138","type":"debug","z":"74f7ebf4.8b0814","name":"","active":false,"console":"false","complete":"req.headers","x":335.75,"y":483.5,"wires":[]},{"id":"41a076e1.be5f88","type":"switch","z":"74f7ebf4.8b0814","name":"Read X Rotation","property":"payload.xRot","propertyType":"msg","rules":[{"t":"lt","v":"-0.1","vt":"num"},{"t":"btwn","v":"-0.1","vt":"num","v2":"0.1","v2t":"num"},{"t":"gt","v":"0.1","vt":"str"}],"checkall":"false","outputs":3,"x":421.25000762939453,"y":381.2500057220459,"wires":[["fe2b1ac2.01d4e8"],["3cc36fbd.c33c9"],["b3b7339d.4c48d"]]},{"id":"df63584f.209ca8","type":"rbe","z":"74f7ebf4.8b0814","name":"","func":"rbe","gap":"","x":792.5000114440918,"y":275.0000047683716,"wires":[["1634cda7.e9cb32"]]},{"id":"467f368e.b980c8","type":"switch","z":"74f7ebf4.8b0814","name":"","property":"req.headers.x-auth-token","propertyType":"msg","rules":[{"t":"eq","v":"MyT0pS8cret","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":230,"y":100,"wires":[["c3d38c80.3c2c7","f83898c0.07c768","41a076e1.be5f88","1afec842.e50138"],["2b889998.d47766"]]},{"id":"2b889998.d47766","type":"template","z":"74f7ebf4.8b0814","name":"deny","field":"payload","fieldType":"msg","format":"json","template":"{ \"input\" : \"refused\" }","x":434,"y":127,"wires":[["e6f6500b.1909b"]]}]
